<div>
  <div style="margin-top: 70px;margin-left: 30%;margin-right:30%;border-style: solid; border-width: 2px;">
    <div style="margin-left: 150px;margin-top: 20px;">
      <form [formGroup]="form">
        <h2 style="margin-left: 20px;margin-bottom: 20px">Nalog za isplatu</h2>
        <div class="form-group row" style="display: inline-block;margin-left: 20px">

          <label>Sifra placanja :</label>
          <input style="width: 150px;" class="form-control margin" [formControl]="code">
          <small class="form-text error" *ngIf="code.errors?.required && code.touched" style="color: red">
            Sifra placanje je obavezana!
          </small>


          <label style="margin-top: 5px">Valuta :</label>
          <input style="width: 150px;" class="form-control margin" [formControl]="currency">
          <small class="form-text error" *ngIf="currency.errors?.required && currency.touched" style="color: red">
            Valuta je obavezana!
          </small>

          <label style="margin-top: 5px">Iznos :</label>
          <input style="width: 480px" class="form-control margin" [formControl]="sum">
          <small class="form-text error" *ngIf="sum.errors?.required && sum.touched" style="color: red">
            Iznos je obavezan!
          </small>

          <br>
          <br>


          <label>Racun isplatioca :</label>
          <input style="width: 480px" class="form-control margin" [formControl]="bankAccount">
          <small class="form-text error" *ngIf="bankAccount.errors?.required && bankAccount.touched" style="color: red">
            Racun isplatioca je obavezan!
          </small>

          <label style="margin-top: 5px">Model :</label>
          <input style="width: 150px;" class="form-control margin" [formControl]="model">
          <small class="form-text error" *ngIf="model.errors?.required && model.touched" style="color: red">
            Model je obavezan!
          </small>
          <label style="margin-top: 5px;">Poziv na broj(zaduzenje) :</label>
          <input style="width: 480px;" class="form-control margin" [formControl]="referenceNumber">
          <small class="form-text error" *ngIf="referenceNumber.errors?.required && referenceNumber.touched"
                 style="color: red">
            Poziv na broj je obavezan!
          </small>

          <br>
          <br>

          <label style="margin-top: 5px">Hitno :</label>
          <input type="checkbox" style="width: 25px;height: 25px;margin-left: 7px" class="form-control margin"
                 [formControl]="urgent">
          <div style="text-align: center;margin-top: 20px">
            <button class="btn btn-success" style="height: 50px;width: 100%; border-radius: 12px;margin-bottom: 20px"
                    (click)="confirmClick()" [disabled]="!form.valid">Potvrdi
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
