<div class=" offset-4 col-md-4" style="margin-top:150px;">

  <form [formGroup]="form">
    <div class="form-group">

      <h2 style="margin-bottom: 30px">Otvaranje racuna za fizicko lice:</h2>
      <label>Ime</label>
      <input name="name" class="form-control margin" id="input-name" [formControl]="name">
      <small class="form-text error" *ngIf="name.errors?.required && name.touched" style="color: red">
        Ime je obavezno!
      </small>

      <label style="margin-top:20px">Skraceno ime</label>
      <input name="shortname" class="form-control margin" id="input-shortname" [formControl]="shortname">
      <small class="form-text error" *ngIf="shortname.errors?.required && shortname.touched" style="color: red">
        Skraceno ime je obavezno!
      </small>

      <label style="margin-top:20px">Broj racuna</label>
      <input name="accountnumber" class="form-control margin" id="input-accountnumber" [formControl]="accountnumber">
      <small class="form-text error" *ngIf="accountnumber.errors?.required && accountnumber.touched" style="color: red">
        Broj racuna je obavezan!
      </small>

      <label style="margin-top:20px">Valuta</label>
      <select name="currency" class="form-control margin" id="input-currency" [formControl]="currency">
        <option></option>
        <option *ngFor="let currency of currencies;">
          {{currency.name}}
        </option>
      </select>

      <label style="margin-top:20px">Adresa</label>
      <input name="adress" class="form-control margin" id="input-adress" [formControl]="adress">
      <small class="form-text error" *ngIf="adress.errors?.required && adress.touched" style="color: red">
        Adresa je obavezno!
      </small>

      <label style="margin-top:20px">Broj telefona</label>
      <input name="phonenumber" class="form-control margin" id="input-phonenumber" [formControl]="phonenumber">
      <small class="form-text error" *ngIf="phonenumber.errors?.required && phonenumber.touched" style="color: red">
        Broj telefona je obavezan!
      </small>

      <label style="margin-top:20px">JMBG</label>
      <input name="jmbg" class="form-control margin" id="input-jmbg" [formControl]="jmbg">
      <small class="form-text error" *ngIf="jmbg.errors?.required && jmbg.touched" style="color: red">
        JMBG je obavezan!
      </small>

      <label style="margin-top:20px">E-mail</label>
      <input name="email" class="form-control margin" id="input-email" [formControl]="email">
      <small class="form-text error" *ngIf="email.errors?.required && email.touched" style="color: red">
        E-mail je obavezan!
      </small>

      <label style="margin-top:20px">Adresa dostavljanja</label>
      <input name="deliveringadress" class="form-control margin" id="input-deliveringadress"
             [formControl]="deliveringadress">
      <small class="form-text error" *ngIf="deliveringadress.errors?.required && deliveringadress.touched"
             style="color: red">
        Adresa dostavljanja je obavezna!
      </small>

      <label style="margin-top:20px">Izvestaj na e-mail</label>
      <input type="checkbox" name="mailreporting" [formControl]="mailreporting">

      <button class="btn btn-success" style="width: 100%;margin-top: 20px; font-size: 1.5em;margin-bottom: 30px"
              [disabled]="!form.valid" (click)="addIndividualAccount()">Dodaj
      </button>

    </div>
  </form>
</div>

