<div>
  <div style="margin-top: 70px;margin-left: 30%;margin-right:30%;border-style: solid; border-width: 2px;">
    <div style="margin-left: 150px;margin-top: 40px;margin-bottom: 40px">
      <label>Sifra placanja</label>
      <label style="margin-left: 40px">Valuta</label>
      <label style="margin-left: 65px">Iznos</label>
      <br>
      <input style="width: 70px;margin-left: 15px">
      <input style="width: 70px;margin-left: 35px">
      <input style="width: 250px;margin-left: 45px">

      <br>
      <br>
      <label>Racun isplationa</label>
      <br>
      <input style="width: 480px;margin-left: 15px">
      <br>
      <br>
      <label>Model i poziv na broj (zaduzenje)</label>
      <br>
      <input style="width: 70px;margin-left: 15px">
      <input style="width: 370px;margin-left: 35px">
    </div>
  </div>
  <div style="text-align: center;margin-top: 30px">
    <label>Hitno:</label>
    <input type="checkbox" style="width: 25px;height: 25px;margin-right: 20px">
    <button class="btn-success">Potvrdi</button>
  </div>

</div>
