<div class=" offset-3 col-md-6" style="margin-bottom:50px">

  <form [formGroup]="form">
    <div class="form-group">
      <label style="margin-top:200px">Sifra:</label>
      <input name="name" class="form-control margin" id="input-name"
             placeholder="naziv" [formControl]="name">
      <small class="form-text error" *ngIf="name.errors?.required && name.touched">
        Naziv je obavezan!
      </small>


      <label style="margin-top:20px">Naziv:</label>
      <input name="code" class="form-control margin" id="input-code"
             placeholder="oznaka" [formControl]="code" style="margin-bottom: 30px">
      <small class="form-text error" *ngIf="code.errors?.required && code.touched">
        Sifra je obavezana!
      </small>

      <button class="btn btn-success" style="width: 100%" (click)="confirmClick()" [disabled]="!form.valid">
        {{method_name}}
      </button>
      <button class="btn btn-success" style="width: 100% ; margin-top: 20px" (click)="exit()">Zatvori</button>

    </div>

  </form>
</div>
