<div class=" offset-4 col-md-4" style="margin-top:150px;">

  <form [formGroup]="form">
    <div class="form-group">

      <h2 style="margin-bottom: 30px">Racun za fizicko lice:</h2>
      <label style="margin-top:20px; font-size: 1.5em;font-weight: bold;">Broj racuna</label>
      <input name="accountNumber" class="form-control margin" id="input-accountNumber" [formControl]="accountNumber">
      <small class="form-text error" *ngIf="accountNumber.errors?.required && accountNumber.touched" style="color: red">
        Broj racuna je obavezan!
      </small>

      <label style="margin-top:20px; font-size: 1.5em;font-weight: bold;">Valuta</label>
      <select name="currency" class="form-control margin" id="input-currency" [formControl]="currency">
        <option></option>
        <option *ngFor="let currency of currencies;">
          {{currency.name}}
        </option>
      </select>

      <label style="margin-top:20px; font-size: 1.5em;font-weight: bold;">Fizicko lice</label>
      <select name="legal" class="form-control margin" id="input-legal" [formControl]="legal">
        <option></option>
        <option *ngFor="let legal of inds;">
          {{legal.name}}
        </option>
      </select>

      <label style="margin-top:20px; font-size: 1.5em;font-weight: bold;">Izvestaj na e-mail</label>
      <input type="checkbox" name="mailreporting" [formControl]="mailreporting">


      <button class="btn btn-success" style="width: 100%;margin-top: 20px; font-size: 1.5em;margin-bottom: 30px"
              [disabled]="!form.valid" (click)="confirmClick()">{{methodName}}
      </button>

    </div>
  </form>
</div>

