<div class="offset-1">
  <img src="{{imageRoute}}" class="img" style="height: 150px">
</div>
<ul>
  <li (click)="homePage()"><a>Pocetna</a></li>
  <li (click)="getCountries()"><a>Drzave</a></li>
  <li (click)="getCities()"><a>Gradovi</a></li>
  <li (click)="legalsPage()"><a>Pravna lica</a></li>
  <li (click)="individualsPage()"><a>Fizicka lica</a></li>
  <li (click)="getBankAccounts()"><a>Racuni</a></li>
  <li (click)="getCurrencies()"><a> Valute </a></li>
  <li (click)="exchangeRateClick()"><a>Kursna lista</a></li>
  <li (click)="getActivities()"><a>Delatnosti</a></li>
  <li (click)="clearing()"><a>Kliring</a></li>

</ul>

  <div *ngIf="home==true" style="text-align: center;margin-top: 30px">

    <button (click)="paymentOrderClick()">Nalog za uplatu</button>
    <button (click)="paymentCheckk()">Nalog za isplatu</button>
    <button (click)="payCheck()">Nalog za naplatu</button>
    <button (click)="transfer()">Nalog za prenos</button>
  </div>

  <div *ngIf="paymentCheck==true">
    <payment-check></payment-check>
  </div>

  <div *ngIf="countries==true">
    <countries></countries>
  </div>


  <div *ngIf="city==true">
    <city></city>
  </div>

  <div *ngIf="activities==true">
    <activities></activities>
  </div>

  <div *ngIf="bankAccounts==true">
    <app-bank-accounts></app-bank-accounts>
  </div>

  <div *ngIf="paymentOrder">
    <app-payment-order></app-payment-order>
  </div>


  <div *ngIf="currencies==true">
    <app-currencies></app-currencies>
  </div>

  <div *ngIf="payOrder">
    <app-pay-check></app-pay-check>
  </div>

  <div *ngIf="transferOrder">
    <app-transfer-check></app-transfer-check>
  </div>

  <div *ngIf="addLegalAccount">
    <app-add-legal-account></app-add-legal-account>
  </div>

  <div *ngIf="addIndividualAccount">
    <app-add-individual></app-add-individual>
  </div>

  <div *ngIf="legals">
    <app-legals></app-legals>
  </div>

  <div *ngIf="individuals">
    <app-individuals></app-individuals>
  </div>

  <div *ngIf="exchangeRate">
    <app-exchange-rate></app-exchange-rate>
  </div>





<router-outlet></router-outlet>
