<div class="offset-1">
  <img src="{{imageRoute}}" class="img" style="height: 150px">
</div>
<ul>
  <li><a href="/bank/{{idBank}}">Pocetna</a></li>
  <li><a>Racuni</a></li>
  <li><a href="">Drzave</a></li>
  <li><a href="">Gradovi</a></li>
</ul>

<div style="text-align: center;margin-top: 30px">
  <button>Nalog za uplatu</button>
  <button (click)="nalogIsplata()">Nalog za isplatu</button>
  <button>Nalog za naplatu</button>
  <button>Nalog za prenos</button>
</div>

<div *ngIf="nalogZaIsplatu==true">
  <nalog-za-isplatu></nalog-za-isplatu>
</div>
