
<div style="text-align: center;margin-top: 30px">


  <button style="" (click)="addLegalEntity()">Dodaj pravno lice</button>
  <button style="" (click)="addIndividual()">Dodaj fizicko lice</button>
  <button (click)="getLegals()">Racuni pravnih lica</button>
  <button (click)="getIndividuals()">Racuni fizickih lica</button>

</div>
<br><br><br>

<table class="table offset-2 tables" style=" border: 1px solid black ;">
  <tr>
    <th class="th-style"> Broj racuna</th>
    <th class="th-style"> Datum otvaranja</th>
    <th class="th-style"> Valuta</th>
    <th class="th-style"> Vlasnik racuna</th>
  </tr>

    <tr *ngFor="let item of items; ">
      <td> {{item.number}}</td>
      <td> {{item.dateOfOpenning.toString()}}</td>
      <td> {{item.currency.name}} </td>
      <td> {{item.legalEntity.name}} </td>
    </tr>


</table>
<br><br><br>
<div style="text-align: center">
<button style="" *ngIf="pravnoLice" >Dodaj racun za pravno lice</button>
<button style="" *ngIf="fizickoLice" >Dodaj racun za fizicko lice</button>
</div>
