<div class=" offset-4 col-md-4" style="margin-top:150px">

  <form [formGroup]="form">
    <div class="form-group">
      <h2 style="margin-bottom: 30px">Pravno lice:</h2>
      <label>Ime</label>
      <input name="name" class="form-control margin" id="input-name" [formControl]="name">
      <small class="form-text error" *ngIf="name.errors?.required && name.touched" style="color: red">
        Ime je obavezno!
      </small>

      <label style="margin-top:20px">Skraceno ime</label>
      <input name="shortname" class="form-control margin" id="input-shortname"
             [formControl]="shortname">
      <small class="form-text error" *ngIf="shortname.errors?.required && shortname.touched" style="color: red">
        Skraceno ime je obavezno!
      </small>

      <label style="margin-top:20px">Odgovorno lice</label>
      <input name="responsibleperson" class="form-control margin" id="input-responsibleperson"
             [formControl]="responsibleperson">
      <small class="form-text error" *ngIf="responsibleperson.errors?.required && responsibleperson.touched"
             style="color: red">
        Odgovorno lice je obavezno!
      </small>

      <label style="margin-top:20px">Delatnost</label>
      <select name="activity" class="form-control margin" id="input-activity" [formControl]="activity">
        <option></option>
        <option *ngFor="let value of values;">
          {{value.code}}
        </option>
      </select>

      <label style="margin-top:20px">Adresa</label>
      <input name="adress" class="form-control margin" id="input-adress" [formControl]="adress">
      <small class="form-text error" *ngIf="adress.errors?.required && adress.touched" style="color: red">
        Adresa je obavezno!
      </small>

      <label style="margin-top:20px">Broj telefona</label>
      <input name="phonenumber" class="form-control margin" id="input-phonenumber"
             [formControl]="phonenumber">
      <small class="form-text error" *ngIf="phonenumber.errors?.required && phonenumber.touched" style="color: red">
        Broj telefona je obavezan!
      </small>

      <label style="margin-top:20px">JMBG</label>
      <input name="jmbg" class="form-control margin" id="input-jmbg" [formControl]="jmbg">
      <small class="form-text error" *ngIf="jmbg.errors?.required && jmbg.touched" style="color: red">
        JMBG je obavezan!
      </small>

      <label style="margin-top:20px">E-mail</label>
      <input name="email" class="form-control margin" id="input-email" [formControl]="email">
      <small class="form-text error" *ngIf="email.errors?.required && email.touched" style="color: red">
        E-mail je obavezan!
      </small>

      <label style="margin-top:20px">MBR</label>
      <input name="mbr" class="form-control margin" id="input-mbr" [formControl]="mbr">
      <small class="form-text error" *ngIf="mbr.errors?.required && mbr.touched" style="color: red">
        MBR je obavezan!
      </small>

      <label style="margin-top:20px">Poreski organ</label>
      <input name="taxauthority" class="form-control margin" id="input-taxauthority"
             [formControl]="taxauthority">
      <small class="form-text error" *ngIf="taxauthority.errors?.required && taxauthority.touched" style="color: red">
        Poreski organ je obavezan!
      </small>

      <label style="margin-top:20px">PIB</label>
      <input name="pib" class="form-control margin" id="input-pib" [formControl]="pib">
      <small class="form-text error" *ngIf="pib.errors?.required && pib.touched" style="color: red">
        PIB je obavezan!
      </small>

      <label style="margin-top:20px">Adresa dostavljanja</label>
      <input name="deliveringadress" class="form-control margin" id="input-deliveringadress"
             [formControl]="deliveringadress">
      <small class="form-text error" *ngIf="deliveringadress.errors?.required && deliveringadress.touched"
             style="color: red">
        Adresa dostavljanja je obavezna!
      </small>

      <button class="btn btn-success" style="width: 100%;margin-top: 20px; font-size: 1.5em;margin-bottom: 30px"
              [disabled]="!form.valid" (click)="addLegalEntity()">Dodaj
      </button>

    </div>
  </form>
</div>

